{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Edytor tras{% endblock %}</title>
    {% tailwind_css%}
    {% block extrahead %}{% endblock %}
</head>
<body>

    <!-- NAV -->
    <nav class="navbar">
        <div class="container mx-auto flex justify-between items-center px-8 py-3">
            <a href="{% url 'board_list_all' %}"><strong>Lista Plansz</strong></a>
            <a href="{% url 'board_list_mine' %}"><strong>Moje plansze</strong></a>

            {% if user.is_authenticated %}
                <div class="flex" style="align-items:center; gap:1rem;">
                    <span>{{ user.username }}</span>
                    <form action="{% url 'logout' %}" method="post">{% csrf_token %}
                        <button>Wyloguj</button>
                    </form>
                </div>
            {% else %}
                <a href="{% url 'login' %}">Zaloguj</a>
            {% endif %}
        </div>
    </nav>

    <!-- FLASH -->
    <div class="container mt-4">
        {% for message in messages %}
            <div style="background:#e6ffed; border:1px solid #a7f3d0; padding:.5rem 1rem; border-radius:4px; margin-bottom:.5rem;">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <!-- MAIN -->
    <main class="w-full mt-4 bg-[#DADFF7]">
        {% block content %}{% endblock %}
    </main>

    <footer class="text-center">
        Lab Django
    </footer>
    {% block extra_js %}{% endblock %}
</body>
</html>