{% extends "base.html" %}
{% block title %}Moje trasy{% endblock %}

{% block content %}
<div class="flex" style="justify-content:space-between; align-items:center;">
    <h1>Moje trasy</h1>
    <a href="{% url 'route_create' %}" class="btn">+ Nowa trasa</a>
</div>

{% if routes %}
    <ul class="grid mt-4">
        {% for r in routes %}
            <li class="card">
                <h2>{{ r.name}}</h2>
                <p style="font-size:.9rem; color:#6b7280;">
                    Obraz: {{ r.background.name }}<br>
                    Data: {{ r.created|date:"Y‑m‑d H:i" }}
                </p>
                <a href="{% url 'route_detail' r.id %}">Otwórz »</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nie masz jeszcze żadnych tras.</p>
{% endif %}
{% endblock %}
